
/* Debugging */
* {
	/*! outline: solid cyan 1px; */
}

/* No default margins */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
  background-color: #2c3e50;
  color: #fff;
  font-family: sans-serif;
  user-select: none;
}

input {
  padding: 7px;
  border: solid 1px #fff;
  
  color: #000;
  background-color: #fff;
  font-size: 16px;
}

textarea {
  background-color: #fff;
  color: #000;
}

select {
  border: solid 1px #fff;
  font-size: 16px;
  padding: 7px;
  background-color: #fff;
  color: #000;
}

input[type=text] {
  width: 200px;
  margin-left: 8px;
}

input:focus {
  border-color: #fff;
}

label {
  font-weight: bold;
}

button {
  padding: 7px;
  border: solid 1px #fff;
  font-size: 16px;
  color: #fff;
  background-color: #1967d2;
  cursor: pointer;
}

.autocomplete-container {
  display: none;
  position: absolute;
  z-index: 1000;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

.autocomplete-suggestions {
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
  max-height: 400px;
  
  color: #000;
  background: #fff;
  border-radius: 4px;
  overflow-y: auto;
  list-style: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
  
}

.autocomplete-suggestions li {
  margin-left: 0;
  padding: 5px;
  cursor: pointer;
}

.autocomplete-suggestions li:hover,
.autocomplete-suggestions li.active {
  background: #2987d2;
  color: #fff;
}

.solution {
  display: flex;
  flex-wrap: wrap;
  
  user-select: text;
  justify-content: start;
  align-items: center;
  row-gap: 5px;
  padding: 5px 0;
  
}

.solution > * {
  color: #eee;
  cursor: pointer;
  padding: 1px 8px;
  font-size: 125%;
  background-color: #3e5871;
  margin: 0px 7px;
}

.close {
  opacity: 0;
}

.close::after {
  content: "ᅠX";
  font-size: 90%;
}

.close/*:hover*/ {
  opacity: 1;
/*   background-color: #384f61; */
  background-color: #0000;
  color: #ccc;
}

/* Highlight already displayed solution */
.flash {
  background-color: #8aa4be;
}

/* Title */
h1 {
  font-size: 24px;
  margin-left: 8px;
}

/* Subtitle */
p {
  margin: 4px 0;
  margin-left: 8px;
}

.solution:hover {
  background-color: #ffffff15;
}

.element {
  user-select: text;
  height: 100%;
  cursor: pointer;
/*   border: solid rgb(80, 66, 110) 2px; */
  border-radius: 2px;
}

.element.result {
/*   border: solid lightseagreen 2px; */
  border: solid teal 2px;
  cursor: default;
  background-color: rgb(54, 68, 108);
  border-radius: 5px;
}

.element.result.have {
  border: solid 2px lime;
}

.element.result.missing {
  border: solid 2px orange;
}

.element.ingredient {
/*   border: solid #354861 2px; */
/*   background-color: #3e5871; */
  border: solid teal 1px;
/*   border: solid rgb(80, 66, 110) 2px; */
}

.element.ingredient.have {
  border: solid 1px green;
  background-color: #1ea871;
}

.element.ingredient.missing {
  border: solid 1px #af6841;
  background-color: #cf8851;
}

#titleRow {
  margin-top: 2px;
}

#titleRow > * {
  margin-right: 20px;
  display: inline;
}

#titleRow > button {
  border: solid 1px darkgreen;
  font-size: 10px;
  padding: 5px;
  background-color: #105729;
  border-radius: 3px;
}

.container > * {
  
}

#solutions {
  padding-bottom: 80px;
  margin-top: 5px;
}




