<!DOCTYPE html>
<html>
    <head>
    <title>Element Search</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="search.css" type="text/css">
    
    <script src="data_names.js" type="text/javascript" ></script>
    <script src="data_create.js" type="text/javascript" ></script>
    <script src="data_info.js" type="text/javascript" ></script>
    </head>
    <body>
        <div class="container">
            <p> <span id="element-count">0</span> elements available</p>
            <div id="inputform">
                <input id="search" type="text" placeholder="element" autocomplete="off"><button id="searchbtn">Add</button>
                <select id="search-method">
                    <option value="0" selected="selected">Fuzzy</option>
                    <option value="1">Contains</option>
                    <option value="2">Starts With</option>
                    <option value="3">Ends With</option>
                    <option value="4">Expression</option>
                </select>
            </div>
            <div id="solutions"></div>
        </div>
        <!--<div class="autocomplete-container">
            <ul class="autocomplete-suggestions"></ul>
        </div>-->
        <script src="search.js" type="text/javascript" ></script>
    </body>
</html>

